<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>Document</title>
</head>
<body>
<h1><strong>AID coordinator</strong></h1>
<div class="topnav">
    <a href="{% url 'index' %}">Main Page</a>
    <a href="{% url 'index2' %}">TEMPORARY</a>
    <a href="{% url 'collections' %}">Collections</a>
    <a href="{% url 'stats' %}">Stats</a>
    <a href="{% url 'schedule' %}">Schedule</a>

    <a href="{% url 'userlist' %}">Users</a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"> logout</a>
    {% else %}
        <a href="{% url 'login' %}"> login</a>
        <a href="{% url 'register' %}"> register</a>
    {% endif %}
</div>
<section class="padding-large bg-light">
        <div id="carouselExampleControls" class="carousel slide main-slider" data-ride="carousel">
            <div class="carousel-inner container">
                <div class="carousel-item active">
                    <div class="container w-75 d-flex">
                        <div class="carousel-caption d-block">
                            <h1>KARUZELA ZBIOREK (poki co podpiete SPOTy)</h1>
                            <h3> jakis wypelniacz o zbiorkach</h3>
                        </div>
                    </div>
                </div>
                {% for spot in spots %}
                <div class="carousel-item">
                    <div class="container w-75 d-flex">
                        <div class="carousel-caption d-block">
                            <h1> {{ spot.name }} </h1>
                            <h3> {{ spot.address }} </h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
<p>
    {% block MAINBLOCK %}
        Strona główna

    {% endblock %}
</p>

<p><img src="{% static 'rzutwieza.jpg' %}"> {{ date }}</p>
{{ user }}
</body>
</html>