{%  extends 'collections.html' %}
{%  block MAINBLOCK %}
    <h1>Item Collections:</h1>
{% for collection in itemcollections %}
    <p>{{ collection.name }}
        <a href="update_item_collection/{{ collection.id }}/"><button>Edit</button></a>
        <a href="delete_item_collection/{{ collection.id }}/"><button>Delete</button></a></p>
    </p>
    <p>{{ collection.description }}</p>
    <p>{{ collection.spot.name }}</p>
    Items:
    <ul>
    {% for item in collection.itemcollectionitems_set.all %}
    <li>{{ item.item.name }}<br> Items needed: {{ item.number_needed }}<br>Items delivered: {{ item.number_delivered }}</li>
    {% endfor %}
    </ul>
{%  endfor %}
    <h1>Services needed:</h1>
{% for collection in servicecollections %}
    <p>{{ collection.name }}
        <a href="update_service_collection/{{ collection.id }}/"><button>Edit</button></a>
        <a href="delete_service_collection/{{ collection.id }}/"><button>Delete</button></a></p>
    <p>{{ collection.description }}</p>
    <p>{{ collection.spot }}</p>
        Services:
    <ul>
    {% for service in collection.servicecollectionservices_set.all %}
    <li>{{ service.service.name }}<br>People needed: {{ service.people_needed }}<br>Hours needed: {{ service.hours_needed }}</li>
    {% endfor %}
    </ul>
{%  endfor %}
{% endblock %}