{% extends 'collections.html' %}
{% block MAINBLOCK %}
    <div>
    LISTA PRZEDMIOTOW
    wypełniacz


    {% for item in itemlist %}
    <p>
    <div style="border: -o-highlight-border; border-width: 1px;">
        Item: {{ item.name }}<br>
        Description: {{ item.description }}<br>
    </div>
            <a href="{% url 'update_item' item.id %}">Edit Item Type</a>
            <a href="{% url 'delete_item' item.id %}">Delete Item Type</a>
    </p>
    {% endfor %}
    </div>
    <p>Add Item</p>
     <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
{% endblock %}