{#{% extends 'base.html' %}#}
{% extends 'collections.html' %}
{% block MAINBLOCK %}
    <ul>
        {% if spot %}
            <a href={% url 'add_spot' %}> <button>Add new spot</button></a>
        {% endif %}
        {% for item in object_list %}
            <li>
                <a href="{{ item.get_absolute_url }}">{{item}}</a>
                <a href="{{ item.get_update_url }}"> <button>Edytuj</button></a>
                <a href="{{ item.get_delete_url }}"> <button>kasuj</button></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}