{% extends 'collections.html' %}
{% block MAINBLOCK %}
    <div>
    LISTA USLUG
    wypełniacz


    {% for service in servicelist %}
    <p>
    <div style="border: solid; border-width: 1px;">
        Name: {{ service.name }}<br>
        Description: {{ service.description }}<br>
    </div>
        <a href="{% url 'update_service' service.id %}">Edit Service Type</a>
        <a href="{% url 'delete_service' service.id %}">Delete Service Type</a>
    </p>
    {% endfor %}
    </div>
    <p>Add Service</p>
     <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
{% endblock %}